.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding: 24px;
}

.section {
    background: #fff;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 29vw;
    height: 26vw;
}

h3 {
    margin-top: 0;
    font-size: 1.1rem;
}

.full-width {
    margin: 8px;
    width: 33%;
}

.mt-3 {
    margin-top: 1rem;
}