<form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="formulario">
  <div class="form-row-horizontal">
    <mat-form-field class="field-25" appearance="outline">
      <mat-label>Buscar empresas</mat-label>
      <input
        type="text"
        matInput
        [formControl]="empresaSearch"
        [matAutocomplete]="auto"
        placeholder="Escribe al menos 3 letras..."
      />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addEmpresa($event)">
        <mat-option *ngFor="let empresa of resultados" [value]="empresa">
          {{ empresa.Name }} — {{ empresa.NIF }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-25">
      <mat-label>Buscar por título</mat-label>
      <input matInput [formControl]="titulo" placeholder="Filtra por cualquier campo..." />
    </mat-form-field>

    <mat-form-field class="field-25" appearance="outline">
      <mat-label>Buscar contratantes</mat-label>
      <input
        type="text"
        matInput
        [formControl]="contratanteSearch"
        [matAutocomplete]="autoContratante"
        placeholder="Escribe al menos 3 letras..."
      />
      <mat-autocomplete #autoContratante="matAutocomplete" (optionSelected)="addContratante($event)">
        <mat-option *ngFor="let contratante of resultadosContratante" [value]="contratante">
          {{ contratante }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="field-25" appearance="outline">
      <mat-label>Buscar CPV</mat-label>
      <input
        type="text"
        matInput
        [formControl]="cpvSearch"
        [matAutocomplete]="autoCPV"
        placeholder="Escribe al menos 3 dígitos..."
      />
      <mat-autocomplete #autoCPV="matAutocomplete" (optionSelected)="addCPV($event)">
        <mat-option *ngFor="let cpv of resultadosCPV" [value]="cpv">
          {{ cpv.Code }} — {{ cpv.Description }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <!-- Chips seleccionadas -->
  <label class="mat-label">Empresas, contratantes y CPVs seleccionados</label>
  <mat-chip-listbox class="full-width" multiple>
    <mat-chip-option
      *ngFor="let empresa of empresas.value"
      [selected]="true"
      (removed)="removeEmpresa(empresa.NIF)">
      {{ empresa.Name }} ({{ empresa.NIF }})
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-option>
    <mat-chip-option class="contratante"
      *ngFor="let contratante of contratantes.value"
      [selected]="true"
      (removed)="removeContratante(contratante)">
      {{ contratante }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-option>
    <mat-chip-option class="cpv"
      *ngFor="let cpv of cpvs.value"
      [selected]="true"
      (removed)="removeCPV(cpv.Code)">
      {{ cpv.Code }} ({{ cpv.Description }})
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-option>
  </mat-chip-listbox>
  
  <div class="error" *ngIf="titulo.invalid && titulo.touched">
    Debes introducir un título.
  </div>

  <button mat-raised-button color="primary" type="submit" [disabled]="formulario.invalid">
    Enviar
  </button>
</form>

<mat-card class="mat-elevation-z4">
  <table mat-table [dataSource]="dataSource" matSort class="mat-table">

    <!-- Título -->
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Título </th>
      <td mat-cell *matCellDef="let elemento"><a href="{{ elemento.URL }}">{{ elemento.titulo }}</a>  </td>
    </ng-container>

    <!-- Contratante -->
    <ng-container matColumnDef="contratante">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Contratante </th>
      <td mat-cell *matCellDef="let elemento"> {{ elemento.contratante }} </td>
    </ng-container>

    <!-- Fecha -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
      <td mat-cell *matCellDef="let elemento"> {{ elemento.fecha | date:'mediumDate' }} </td>
    </ng-container>

    <!-- Ganador -->
    <ng-container matColumnDef="ganador">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ganador </th>
      <td mat-cell *matCellDef="let elemento"> {{ elemento.ganador }} </td>
    </ng-container>

    <!-- Importe -->
    <ng-container matColumnDef="importe">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Importe </th>
      <td mat-cell *matCellDef="let elemento"> {{ elemento.importe | currency:'EUR' }} </td>
    </ng-container>

    <!-- Ganador -->
    <ng-container matColumnDef="similitud">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Similitud </th>
      <td mat-cell *matCellDef="let elemento"> {{ elemento.similitud }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let fila; columns: columnas;"></tr>
  </table>

  <mat-paginator [pageSize]="6" [pageSizeOptions]="[6, 8, 10]"></mat-paginator>
</mat-card>
<div class="overlay-cargando" *ngIf="cargando">
  <div class="spinner-wrapper">
    <mat-spinner diameter="48"></mat-spinner>
    <span>Cargando...</span>
  </div>
</div>