.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }

  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 24px;
  }

  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }

  .text-center {
    text-align: center;
  }

.welcome-title h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #1a237e; /* Azul oscuro */
  margin-bottom: 0.5rem;
  justify-content: center;     /* Centra horizontalmente */
  align-items: center;
  display: grid;
}

.welcome-title .subtitle {
  font-size: 1.25rem;
  color: #3949ab; /* Azul intermedio */
  font-weight: 500;
  margin-bottom: 1rem;
  justify-content: center;     /* Centra horizontalmente */
  align-items: center;
  display: grid;
}