<div class="dashboard-grid" *ngIf="!cargando">
    <div class="section welcome-container">
      <div class="welcome-title">
        <h1>¡Bienvenido al Inquisidor!</h1>
        <p class="subtitle">Aplicación para el análisis de licitaciones públicas adjudicadas desde que existen registros.</p>
      </div>  
      <div class="cards-container">
        <mat-card class="card-option" (click)="optionSelected('main-list')">
          <img mat-card-image src="/licitaciones.png" alt="Crear Licitación">
          <mat-card-title>Buscar licitación</mat-card-title>
          <mat-card-content>
            <p>Búsqueda detallada de licitaciones adjudicadas</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card-option" (click)="optionSelected('main-charts')">
          <img mat-card-image src="/adjudicatarios.png" alt="Recibir Licitación">
          <mat-card-title>Análisis de adjudicatarios</mat-card-title>
          <mat-card-content>
            <p>Análisis comparativo de empresas adjudicatarias.</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="card-option" (click)="optionSelected('contratante-charts')">
          <img mat-card-image src="/licitadores.png" alt="Entregar Licitación">
          <mat-card-title>Análisis de licitadores</mat-card-title>
          <mat-card-content>
            <p>Análisis comparativo de organismos licitadores.</p>
          </mat-card-content>
        </mat-card>
      </div>  
      <span class="title-chart" *ngIf="lineChartData.length>0">Importe total de licitaciones adjudicadas los últimos 10 años</span>
      <div class="inner-section" *ngIf="lineChartData.length>0">
        <ngx-charts-line-chart
          [results]="lineChartData"
          [legendPosition]= "legendPosition"
          [legendTitle]="'Leyenda'"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [autoScale]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="'Año'"
          [yAxisLabel]="'Importe (€)'">
        </ngx-charts-line-chart>
      </div>      
  </div>

  <div class="overlay-cargando" *ngIf="cargando">
    <div class="spinner-wrapper">
      <mat-spinner diameter="48"></mat-spinner>
      <span>Cargando...</span>
    </div>
  </div>